page-produto {
}
.changeToast {
    .toast-wrapper {
        opacity: 0.6;
        border-radius: 5px !important; 
        text-align: center;
        background: color($colors, primary);
    }
};    
