<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>PRODUTOS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="segmento" >
      <ion-list *ngSwitchCase="'lista'" >
          <button ion-button value="cadastro" (click)="segmento='cadastro'">Cadastro</button>
          <ion-item *ngFor="let item of dados" >
            {{item.NOME}}<button ion-button item-end (click)="editar(item)">Editar</button>
          </ion-item>
      </ion-list>
   
    <ion-card *ngSwitchCase="'cadastro'" >
        <button ion-button value="lista" (click)="segmento='lista'">Lista</button>
          <ion-grid>
            <ion-row>
              <ion-col>
                  <ion-item>
                      <ion-label color="primary" floating>PRODUTO:</ion-label>
                    <ion-input type="text" color="primary" required="true" [(ngModel)]="nome"></ion-input>
                  </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                  <ion-item>
                    <ion-label color="primary" floating>GRUPOS:</ion-label>
                    <ion-select [(ngModel)]="gruposSelecionados"  multiple="true">
                      <ion-option *ngFor="let item of grupos" value={{item.ID}}>
                        {{item.NOME}}
                      </ion-option>
                    </ion-select>
                  </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          
        
        <ion-item>
            <button ion-button small (click)="salvar()">Salvar</button>
        </ion-item>
      

    </ion-card>
</div>
</ion-content>
